.shipping {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    padding-top: 30px;
    justify-content: space-around;
}

.shipping-form {
    padding: 30px 40px;
    margin-top: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: rgb(231, 237, 245);
}

.shipping-form-one-row {
    display: flex;
}

.shipping-input {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin: 0 5px;
    margin-top: 20px;
}

.shipping-form input {
    border: 1px solid #000;
    height: 30px;
    border-radius: 5px;
    margin-top: 4px;
    outline: none;
}

.shipping-form select {
    border: 1px solid #000;
    height: 30px;
    border-radius: 5px;
    margin-top: 4px;
    outline: none;
    background-color: #fff;
}

.shipping-heading {
    display: flex;
    justify-content: center;
}

.shipping-button {
    display: flex;
    justify-content: center;
}

.shipping-button button {
    background-color: #007bff;
    border: 1px solid #007bff;
    padding: 10px 25px;
    border-radius: 5px;
    color: #fff;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.disableRegion {
    background-color: gray;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    margin-top: 20px;
    cursor: not-allowed;
}

.cart-price {
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cart-total-quantity {
    padding: 40px 60px;
    margin-top: 30px;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 40%;
}