.order-status {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}


.order-status-content {
    background: #ffffff;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: #000;
    width: 50%;
    padding: 60px;
    border-radius: 5px;
}

.order-status-content .order-status-img {
    margin-bottom: 20px;
}

.order-status-message {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-status-message h2 {
    font-weight: 500;
    margin-bottom: 15px;
}

.order-status-message span {
    margin-bottom: 30px;
}

.explore-more button {
    background-color: #28a745;
    border-color: #28a745;
    padding: 15px 20px;
    border-radius: 5px;
    color: #fff;
}