.home-banner {
    border-width: 1px;
    border-style: none;
    border-image: initial;
    border-radius: 0px;
    background-image: url(https://rukminim2.flixcart.com/flap/3376/560/image/02b803d1586f6fe9.jpg?q=50);
    /* background-size: contain;
    background-position: left top; */
    background-repeat: no-repeat;
    min-height: 212px;
    position: relative;
    display: flex;
    align-items: center;
    background-size: 100%;
}

.home-banner-content {
    position: absolute;
    width: 50%;
    padding-left: 50px;
    color: #fff;
}

.home-banner-content-heading {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 20px;
}

.home-banner-content-details {
    line-height: 1.4;
    margin-bottom: 20px;
}

.home-banner-button {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    padding: 15px 40px;
    border-radius: 5px;
}