.custom-footer {
    display: flex;
    flex-direction: column;
    background-color: #172337;
    font-family: 'Noto Sans';
    color: #fff;
}

.custom-footer button {
    /* padding: 10px 80px; */
    height: 40px;
    font-weight: 700;
    color: #878787;
}

.footer-options {
    display: flex;
    justify-content: space-around;
}

.follow-us-p {
    width: 400px;
}

.footer-options li {
    margin: 15px 0;
}

.footer-options p {
    line-height: 22px;
}

.footer-divider {
    margin-bottom: 30px;
}