
.custom-header {
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    border-bottom: 1px solid #000;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 0 20px;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    /* position: relative; */
}

.home-button {
    width: 30%;
}

.cart-button {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items:center;
}

.search-input {
    border: 1px solid gray;
    border-radius: 5px;
    outline: none
}

.search-by-filter-button {
    margin-right: 25px;
    display: flex;
    align-items: center;
    /* cursor: pointer; */
}

.searching-items {
    position: absolute;
    top: 70px;
    left: 35%;
    border: 1px solid gray;
    padding: 25px;
    background: #fff;
    border-radius: 5px;
    height: auto;
    box-shadow: #694ae359 0px 5px 15px;
}

.search-icon img{
    width: 30px;
}

.flex-row {
    display: flex;
    align-items: center;
}

.searching-items {
    display: flex;
    /* align-items: center;
    justify-content: center; */
    width: 20%;
}

.search-products {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.searching-list{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
}

.searching-one-product {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searching-one-product img {
    width: 80px;
}

.search-products .input-search {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    width: 100%;
}

.searching-one-product div {
    max-width: 33.33%;
}