.payment {
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
}

.payment-form {
    background-color: #e7edf5;
    padding: 20px 40px;
    width: 30%;
}

.payment-form h1 {
    padding: 20px 0;
    display: flex;
    justify-content: center
}

.payment-form input {
    border: 1px solid #000;
    height: 30px;
    border-radius: 5px;
    margin-top: 4px;
    outline: none;
}

.payment-one-field {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.plcae-order-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}

.payment-form button {
    border: 1px solid #007bff;
    padding: 10px 25px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
}