@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: 'Noto Sans', sans-serif !important;
}


.main-page-ioz {
    margin-top: 50px !important;
}

.main-root-cJ3 {
    background-color: #f1f3f6 !important;
}